* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  font-family: "Tektur", sans-serif;
}

button,a,h1,h2,h3,h4,p,li {
    font-family: "Tektur", sans-serif;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.upload-card {
  width: 75%;
  padding: 32px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.45);
  position: relative;  
}


.heading {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.subheading {
  margin: 8px 0 24px;
  font-size: 14px;
  color: #cbd5f5;
}
.heading-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-btn {
  cursor: pointer;
  font-size: 18px;
  opacity: 0.8;
  transition: 0.2s ease;
}

.info-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.info-panel {
  position: absolute;
  top: 60px;
  right: 0;
  width: 260px;
  background: rgba(10, 20, 50, 0.95);
  padding: 16px;
  border-radius: 12px;
  display: none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  z-index: 20;
}


.info-panel ul {
  padding-left: 18px;
  font-size: 13px;
  color: #cbd5f5;
}

.info-panel.open {
  display: block;
}




/* Upload box */
.file-box {
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
}

.file-ui {
  border: 2px dashed rgba(255,255,255,0.25);
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  transition: 0.3s;
}

.file-ui:hover {
  border-color: #cbd5f5;
  background: rgba(56,189,248,0.05);
}

.cloud {
  font-size: 34px;
  margin-bottom: 6px;
}

.file-ui span {
  font-size: 12px;
  color: #94a3b8;
}

/* Preview */
.preview-container {
  margin-bottom: 20px;
  text-align: center;
}

.preview-container video {
  width: 100%;
  max-height: 220px;
  border-radius: 12px;
  background: black;
}

.file-info {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 8px;
}

.file-name {
  font-size: 13px;
  color: #cbd5f5;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove-file {
  font-size: 14px;
  cursor: pointer;
  color: #ff5b5b;
  transition: 0.2s ease;
}

.remove-file:hover {
  color: #ff2e2e;
}



/* Inputs */
.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  font-size: 17px;
  margin-bottom: 6px;
  color: #e5e7eb;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.12);
  color: white;
}

.input-group input::placeholder {
  color: #94a3b8;
}

/* Button */
.upload-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #cbd5f5;
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.upload-btn:hover {
  background: #a5b4fc;
  transform: translateY(-2px);
    transition: 0.3s ease;
}

.section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}


.section-content,
.hero-content,
.navbar {
  position: relative;
  z-index: 2;
}

/* ================= NAVBAR ================= */

.navbar {
  height: 90px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  top: 0;
  z-index: 1000;
  margin-bottom: 22px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.brand {
  font-size: 32px;
  font-weight: 900;
  color: #ffffff;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
}

.profile-icon {
  font-size: 26px;
  cursor: pointer;
  user-select: none;
  color: #142d6c;
}
.profile-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.bg-video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
}
/* ================= PROFILE PANEL (RIGHT, ABOVE TAGS) ================= */

.profile-panel {
  position: fixed;
  top: 90px;
  right: -300px;
  width: 300px;
  height: calc(100vh - 90px);
  background: #062041;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 100;
}

.profile-panel.open {
  right: 0;
}

.profile-panel h3 {
  margin-bottom: 15px;
}

.profile-panel p {
  font-size: 16px;
  margin: 8px 0;
}

.profile-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #cbd5f5;
}
.profile-btn:hover {
  background: #a5b4fc;
  transform: translateY(-2px);
    transition: 0.3s ease;
}

.logout {
  background: #ff5b5b;
  color: white;
}

/* ================= TAG SECTION ================= */

.tag-section {
  margin-top: 20px;
}

.tag-section select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  color: rgb(255, 255, 255);
  font-family: "Tektur", sans-serif;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}

.tag-section select option {
  background: #062041;
  color: rgb(255, 255, 255);
}

.tag-section select option:checked {
  background: #0a3a5e;
  color: rgb(255, 255, 255);
}


/* Divider */
.tag-divider {
  text-align: center;
  margin: 12px 0;
  position: relative;
}

.tag-divider span {
  background: #0f172a;
  padding: 0 10px;
  font-size: 12px;
  opacity: 0.7;
}

.tag-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

/* New Tag Row */
.new-tag-row {
  display: flex;
  gap: 10px;
}

.new-tag-row input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  color: rgb(255, 255, 255);
  font-family: "Tektur", sans-serif;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}


/* Add Tag Button */
.add-tag-btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #cbd5f5;
  color: rgb(7, 7, 7);
  font-family: "Tektur", sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-tag-btn:hover {
  background: #a5b4fc;
  transform: translateY(-2px);
    transition: 0.3s ease;
}
/* FULL SCREEN OVERLAY */
/* FULL SCREEN OVERLAY */
.upload-overlay {
  position: fixed;
  inset: 0;
  background: rgba(5, 10, 31, 0.96);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-box {
  text-align: center;
  color: white;
}

/* Rotating Circle */
.spinner {
  width: 70px;
  height: 70px;
  border: 6px solid rgba(255,255,255,0.2);
  border-top: 6px solid #cbd5f5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.delete-video-btn {
  background: transparent;   /* removes white */
  border: none;
  cursor: pointer;
  padding: 4px;
}

.delete-video-btn img {
  width: 18px;
  height: 18px;
}

.delete-video-btn:hover {
  transform: scale(1.1);
}